html {
  background-color: #222;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #202020;
  height: 17vh;
  margin: 1vh;
  padding: 2vh;
  color: white;
  box-shadow: 0 0 1em #111111;
  border-radius: 1vh;
}

.App-title {
  color: #009999;
  text-shadow: 0 0 1em #000000;
  font-size: 3em;
  float: left;
}

.App-subtitle {
  color: #FFFFFF;
  text-shadow: 0 0 1em #80808040;
  font-family: cursive;
  float: left;
}

.App-body {
  left: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

